html {
  background-image:url( "http://api.thumbr.it/whitenoise-361x370.png?background=9ca0a1ff&noise=626262&density=15&opacity=15");
  text-align: center;
  font-family: roboto;
  color: white;
}

div {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.title {
  color: black;
  text-align: center;
  font-family: 'Monoton', cursive;
  font-size: 60px;
  background: #A52630;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.title a, a:before, a:after {
  color: black;
  text-decoration: none;
  text-align: center;
}
.js-query {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  padding-right: 10px;
}
.submit {
  width: 90px;
  height: 25px;
  border-radius: 15px;
  background-color: #A52630;
  outline-width: 0;
  border: 0px;
}

.submit:hover {
  background-color: #8B1A1A;
}

.movieContainer {
  display: inline;
}

.movieCard {
  display: inline;
  padding: 10px;
  border-radius: 10%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #A52630;
  /*//rgba(29, 106, 154, 0.72)*/
}

.movie-title {
  margin-bottom: 5px;
}
.js-search-results {
  position: relative;
}

.active {
  position: absolute;
  left: 300;
}

.cardDescription {
  color: white;
  position: absolute;
  left: 290px;
  height: 362px;
  width: 60%;
  margin-bottom: 60px;
  background-color: black;
  border-radius: 10%;
  border-width: 10px;
  border-color: #A52630;
  border-style: solid;
  /*border-top-left-radius: 10%;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 10%;*/
  overflow: hidden;
  overflow-y: scroll;
}

span {
  display: block;
  font-weight:lighter;
  font-size: 12px;
  text-align: justify;
  left: 35px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  border-bottom: 3px solid #808080;
}

.mpaa-rating {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.commonsense, .commonsense:after{
  color: white;
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
}

.movieLinks a, a:after {
  color: white;
  display: inline-block;
  text-decoration: none;
}

.js-search-form {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.fa {
  font-size: 25px;
  padding-right: 10px;
  padding-bottom: 10px;

}

/*mdb, rottentomatoes, metacritic, common sense media, and video links*/
.fa-imdb:hover {
  color: yellow;
}

.fa-circle:hover {
  color: red;
}

.fa-meetup:hover {
  color: green;
}
.fa-youtube-play:hover {
  color: red;
}

.fa-check-circle-o:hover {
  color: green;
}

.fa-github:hover {
  color: red;
}
/*.metacritic, .rottentomatoes{
  width: 32px;
  height: 27px;
  padding-right: 10px;
  margin: 0;
}

.metacritic:hover {
  background-image: url('images/metacritic_icon_after.png');
  width: 32px;
  height: 27px;
  padding-right: 10px;
  margin: 0;
  visibility: 0;
}

.rottentomatoes:hover {
  background-image: url('images/rottentomatoes_icon_after.png');
  width: 32px;
  height: 27px;
  padding-right: 10px;
  margin: 0;
}*/

footer {
  position: fixed;
  width: 100%;
  border-radius: 20px;
  margin-top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  background-color: #efefef;
  text-align: center;
}
