html {
  background-color: #F3F3F3;
  text-align: center;
  font-family: roboto;
}

img {

}
.movieCard {
  align-items: center;
  display: inline;
  padding: 10px;
  border-radius: 10%;
  margin-left: 5px;
  margin-right: 5px;
  background: rgba(29, 106, 154, 0.72);
}
.js-search-results {
  position: relative;
}

.active {
  position: absolute;
  left: 300;
}

.description {
  color: white;
  position: absolute;
  top: 10px;
  left: 100px;
  height: 342px;
  width: 90%;
  background-color: #2F4F4F;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.movieLinks a, a:after {
  color: white;
  display: inline-block;
  text-decoration: none;
}

.description  {
  right: 0px;
}

.js-search-form {
  margin-bottom: 20px;
}
/*
.featherlight {
  iframe: 'index.html'; iframeMaxWidth: '80%';
   iframeWidth: 560px;
    iframeHeight: 315px;
};
.featherlight-content {
  width: 600px;
  height: 300px;
}*/

.movieDescription {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  visibility: hidden;
  opacity: 0;
  color: #fff;
}

.hidden {
  display: none;
}

.fa {
  font-size: 25px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.metacritic, .rottentomatoes{
  width: 30px;
  height: 30px;
  padding-right: 10px;
  margin: 0;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  background-color: #efefef;
  text-align: center;
}
